body {
    background-color: #2b2d31;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-weight: normal;
    font-size: 36px;
    color: azure;
    text-align: center;
    background-color: #1e1f22;
    border: 1px solid #d1d7d6;
    border-radius: 10px;
    }

.about {
    font-weight: 300;
    font-size: 20px;
    color: #99b9b7;
    text-align: left;
}

.img {
    float: right;
    margin: 7px 7px 7px 7px;
    border-radius: 10px;
}

